<div class="page-area">
<div class="header">
    <h1>About Bengali Sweets</h1>
    <p>Sweet Dessert is main part of Bengali ceremonies </p>
    <hr class="md-3">
  </div>
  
  <div class="topnav">

    <a href="" routerLink="contact">Contact</a>
    <a href="" routerLink="product">Product</a>
  </div>
  
  <div class="row">
    <div class="column side">
      <h2>Roshogolla</h2>
      <hr class="md-3 img">
      <p>The dessert is known as Rosogolla or Roshogolla in Bengali,
        Rasagola in Odia and Rasagolakam in Sanskrit.Rasgulla is derived 
        from the words ras ("juice") and gulla ("ball").</p>
        <div class="rosh"><img src="assets\images\Roshgolla1.jpg"></div>
      </div>
    
    <div class="column middle">
      <h2>About Sweet</h2>
      <hr class="md-3">
      <p>One of the most famous Bengali sweets, Roshogolla is a soft round mithai made out of Chhena 
        and dipped into a sugary syrup. Rajbhog is a close cousin of this famed sweet, with a delicious 
        stuffing in its centre that can be made of dry fruits, saffron, cardamom and so on. With this 
        dessert, it is usually difficult to stop after devouring only one.</p>
        <div class="ben">
          <img src="assets\images\ben-sweet.jpg">
        </div>
    </div>
    
    <div class="column side">
      <h2>payesh</h2>
      <hr class="md-3">
      <p>Bengali Chaler Payesh is a rice-based pudding made on several occasions of Bong community such as baby showers, 
        birthdays, house-warming ceremonies et al.l</p>
        <div class="payesh">
          <img src="assets\images\payesh.jpg">
        </div>

      </div>
  </div>
</div>
