<div class="page-area">
    <h2>Product</h2>
    <p>Why do we use it? It is a long established fact that a reader will be distracted by
    the readable content of a page when looking at its layout. The point of using Lorem Ipsum 
    is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, 
    content here', making it look like readable English. Many desktop publishing packages and web page 
    editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover 
    many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, 
    sometimes on purpose (injected humour and the like).</p>
    <hr class="md-3">
<div class="row">
    <div class="col-md-8 card1">
        <div class="card">
            <img class="card-img-top" src="assets\images\Roshgolla1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Roshgolla</h5>
              <p class="card-text">Price: 140 /kg</p>
              <a  routerLink="laptop" class="btn btn-success">Know more</a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="assets\images\adhi.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Mishti Dahi</h5>
              <p class="card-text">Price: 180 /kg</p>
              <a routerLink="mobile" class="btn btn-success">Know more</a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="assets\images\pati.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Patishapta</h5>
              <p class="card-text">Pricr: 20 /pice</p>
              <a routerLink="shirt" class="btn btn-success">Know more</a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="assets\images\rasmalai.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Ras Malai</h5>
              <p class="card-text">Price: 190 /kg</p>
              <a routerLink="tshirt" class="btn btn-success">Know more</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <router-outlet></router-outlet>
    </div>
</div>
</div>
