<div class="page-area">
<div class="header">
    <h1>West Bengal</h1>
    <p>Welcome to West Bengal</p>
    <hr class="md-3">
  </div>
  
  
  <div class="topnav">
    <a href="" routerLink="about">About</a>
    <a href="" routerLink="contact">Contact</a>
    <a href="" routerLink="product">Product</a>
  </div>
  
  <div class="row">
    <div class="column">
      <h2>Festivals</h2>
      <hr class="md-3">
      <p>West Bengal celebrates many holidays and festivals. The Bengali proverb “Baro Mase Tero Parbon” (“Thirteen festivals in
        twelve months”) indicates the abundant of festivity in the state. In West Bengal throughout the year many festivals are 
        celebrated. Durga Puja is solemnized as perhaps the most significant of all celebrations in West Bengal.</p>
        <div class="fes">
          <img src="assets\images\ben-fes.jpg">
        </div>
      </div>
    
    <div class="column">
      <h2>Bengali Dishes</h2>
      <hr class="md-3">
      <p>Bengali cuisine (Bengali: বাঙালি খাবার) is the culinary style of the Bengal region in the eastern part of the Indian 
        subcontinent in Bangladesh and the Indian states of West Bengal, Tripura and Assam's Barak Valley. There is an emphasis 
        on fish, meat, vegetables, and lentils with rice as a staple.</p>
        <div class="food">
          <img src="assets\images\ben-food.jpg">
        </div>
    </div>
    
    <div class="column">
      <h2>Visit in West Bengal</h2>
      <hr class="md-3">
      <p>West Bengal, situated in eastern India, is a land with a rich diversity. Home to different civilizations and known for 
        its cultural diversity, West Bengal has a great history too. Bengal is mentioned in the epic Mahabharata.<b> Top 6 destinations
        in West Bengal:</b> 1. Kolkata 2. Darjeeling.3.hantiniketan 4. Midnapore 5. Siliguri 6.Murshidabad</p>
        <div class="vist">
          <img src="assets\images\bengal-visit.jpg">
        </div>
    </div>
  </div>
  </div>
  